sdk.dir=/path/to/Android/sdk
TMDB_API_KEY=
KEYSTORE_FILE=keystore/flox.jks
KEYSTORE_PASSWORD=
KEY_ALIAS=flox
KEY_PASSWORD=

# https://my.telegram.org/apps, enables the Telegram library
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
