<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!-- debug builds expose the player so it can be launched from adb -->
        <activity
            android:name=".player.PlayerActivity"
            android:exported="true"
            tools:replace="android:exported"
            tools:node="merge" />
    </application>
</manifest>
