<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- debug builds can play a manifest from a plain-HTTP server on the host -->
    <application
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic">
        <!-- debug builds expose the player so it can be launched from adb -->
        <activity
            android:name=".player.PlayerActivity"
            android:exported="true"
            tools:replace="android:exported"
            tools:node="merge" />
    </application>
</manifest>
